.vscode/
build/
dist/
*.egg-info/
__pycache__
.ipynb_checkpoints/
.DS_Store
**.pyc
*.bak
*.bak_*
*.png
*.txt
**/outputs/
**/wandb/
**/exp/
**/exp_local/
data/
eval/
assets/
logs/
pretrained/
checkpoints/
checkpoints_sft/
*.ckpt
*.pt
**.pth
*.bin
*.safetensors
**.npz
core
**.log
*.jsonl
